<!-- Passes the current page title to application.html.erb -->
<%= content_for :page_title, @game.name %>

<div class="chessgame-container">
  <div class="game-bar">
  </div>

  <table class="chessboard" id="chessBoard">
    <tbody>
      <tr data-rowindex="0">
        <td class="chess-light-square" data-columnindex="0">
          <%= content_tag(:div, 'White Rook', class: 'chess-piece rook-white text-hide', data: { pieceid: @pieces[8].id }) %>
        </td>
        <td class="chess-dark-square" data-column-index="1">
          <%= content_tag(:div, 'White Knight', class: 'chess-piece knight-white text-hide', data: { pieceid: @pieces[10].id }) %>
        </td>
        <td class="chess-light-square" data-column-index="2">
          <%= content_tag(:div, 'White Bishop', class: 'chess-piece bishop-white text-hide', data: { pieceid: @pieces[12].id }) %>
        </td>
        <td class="chess-dark-square" data-column-index="3">
          <%= content_tag(:div, 'White King', class: 'chess-piece king-white text-hide', data: { pieceid: @pieces[15].id }) %>
        </td>
        <td class="chess-light-square" data-column-index="4">
          <%= content_tag(:div, 'White Queen', class: 'chess-piece queen-white text-hide', data: { pieceid: @pieces[14].id }) %>
        </td>
        <td class="chess-dark-square" data-column-index="5">
          <%= content_tag(:div, 'White Bishop', class: 'chess-piece bishop-white text-hide', data: { pieceid: @pieces[12].id }) %>
        </td>
        <td class="chess-light-square" data-column-index="6">
          <%= content_tag(:div, 'White Knight', class: 'chess-piece knight-white text-hide', data: { pieceid: @pieces[11].id }) %>
        </td>
        <td class="chess-dark-square" data-column-index="7">
          <%= content_tag(:div, 'White Rook', class: 'chess-piece rook-white text-hide', data: { pieceid: @pieces[9].id }) %>
        </td>
      </tr>
      <tr data-rowindex="1">
        <td class="chess-dark-square" data-columnindex="0">
          <%= content_tag(:div, 'White Pawn', class: 'chess-piece pawn-white text-hide', data: { pieceid: @pieces[0].id }) %>
        </td>
        <td class="chess-light-square" data-columnindex="1">
          <%= content_tag(:div, 'White Pawn', class: 'chess-piece pawn-white text-hide', data: { pieceid: @pieces[1].id }) %>
        </td>
        <td class="chess-dark-square" data-columnindex="2">
          <%= content_tag(:div, 'White Pawn', class: 'chess-piece pawn-white text-hide', data: { pieceid: @pieces[2].id }) %>
        </td>
        <td class="chess-light-square" data-columnindex="3">
          <%= content_tag(:div, 'White Pawn', class: 'chess-piece pawn-white text-hide', data: { pieceid: @pieces[3].id }) %>
        </td>
        <td class="chess-dark-square" data-columnindex="4">
          <%= content_tag(:div, 'White Pawn', class: 'chess-piece pawn-white text-hide', data: { pieceid: @pieces[4].id }) %>
        </td>
        <td class="chess-light-square" data-columnindex="5">
          <%= content_tag(:div, 'White Pawn', class: 'chess-piece pawn-white text-hide', data: { pieceid: @pieces[5].id }) %>
        </td>
        <td class="chess-dark-square" data-columnindex="6">
          <%= content_tag(:div, 'White Pawn', class: 'chess-piece pawn-white text-hide', data: { pieceid: @pieces[6].id }) %>
        </td>
        <td class="chess-light-square" data-columnindex="7">
          <%= content_tag(:div, 'White Pawn', class: 'chess-piece pawn-white text-hide', data: { pieceid: @pieces[7].id }) %>
        </td>
      </tr>
      <tr data-rowindex="2">
        <td class="chess-light-square" data-columnindex="0">
        <td class="chess-dark-square" data-columnindex="1">
        <td class="chess-light-square" data-columnindex="2">
        <td class="chess-dark-square" data-columnindex="3">
        <td class="chess-light-square" data-columnindex="4">
        <td class="chess-dark-square" data-columnindex="5">
        <td class="chess-light-square" data-columnindex="6">
        <td class="chess-dark-square" data-columnindex="7">
      </tr>
      <tr data-rowindex="3">
        <td class="chess-dark-square" data-columnindex="0">
        <td class="chess-light-square" data-columnindex="1">
        <td class="chess-dark-square" data-columnindex="2">
        <td class="chess-light-square" data-columnindex="3">
        <td class="chess-dark-square" data-columnindex="4">
        <td class="chess-light-square" data-columnindex="5">
        <td class="chess-dark-square" data-columnindex="6">
        <td class="chess-light-square" data-columnindex="7">
      </tr>
      <tr data-rowindex="4">
        <td class="chess-light-square" data-columnindex="0">
        <td class="chess-dark-square" data-columnindex="1">
        <td class="chess-light-square" data-columnindex="2">
        <td class="chess-dark-square" data-columnindex="3">
        <td class="chess-light-square" data-columnindex="4">
        <td class="chess-dark-square" data-columnindex="5">
        <td class="chess-light-square" data-columnindex="6">
        <td class="chess-dark-square" data-columnindex="7">
      </tr>
      <tr data-rowindex="5">
        <td class="chess-dark-square" data-columnindex="0">
        <td class="chess-light-square" data-columnindex="1">
        <td class="chess-dark-square" data-columnindex="2">
        <td class="chess-light-square" data-columnindex="3">
        <td class="chess-dark-square" data-columnindex="4">
        <td class="chess-light-square" data-columnindex="5">
        <td class="chess-dark-square" data-columnindex="6">
        <td class="chess-light-square" data-columnindex="7">
      </tr>
      <tr data-rowindex="6">
        <td class="chess-light-square" data-columnindex="0">
          <%= content_tag(:div, 'Black Pawn', class: 'chess-piece pawn-black text-hide', data: { pieceid: @pieces[16].id }) %>
        </td>
        <td class="chess-dark-square" data-columnindex="1">
          <%= content_tag(:div, 'Black Pawn', class: 'chess-piece pawn-black text-hide', data: { pieceid: @pieces[17].id }) %>
        </td>
        <td class="chess-light-square" data-columnindex="2">
          <%= content_tag(:div, 'Black Pawn', class: 'chess-piece pawn-black text-hide', data: { pieceid: @pieces[18].id }) %>
        </td>
        <td class="chess-dark-square" data-columnindex="3">
          <%= content_tag(:div, 'Black Pawn', class: 'chess-piece pawn-black text-hide', data: { pieceid: @pieces[19].id }) %>
        </td>
        <td class="chess-light-square" data-columnindex="4">
          <%= content_tag(:div, 'Black Pawn', class: 'chess-piece pawn-black text-hide', data: { pieceid: @pieces[20].id }) %>
        </td>
        <td class="chess-dark-square" data-columnindex="5">
          <%= content_tag(:div, 'Black Pawn', class: 'chess-piece pawn-black text-hide', data: { pieceid: @pieces[21].id }) %>
        </td>
        <td class="chess-light-square" data-columnindex="6">
          <%= content_tag(:div, 'Black Pawn', class: 'chess-piece pawn-black text-hide', data: { pieceid: @pieces[22].id }) %>
        </td>
        <td class="chess-dark-square" data-columnindex="7">
          <%= content_tag(:div, 'Black Pawn', class: 'chess-piece pawn-black text-hide', data: { pieceid: @pieces[23].id }) %>
        </td>
      </tr>
      <tr data-rowindex="7">
        <td class="chess-dark-square" data-columnindex="0">
          <%= content_tag(:div, 'Black Rook', class: 'chess-piece rook-black text-hide', data: { pieceid: @pieces[24].id }) %>
        </td>
        <td class="chess-light-square" data-column-index="1">
          <%= content_tag(:div, 'Black Knight', class: 'chess-piece knight-black text-hide', data: { pieceid: @pieces[26].id }) %>
        </td>
        <td class="chess-dark-square" data-column-index="2">
          <%= content_tag(:div, 'Black Bishop', class: 'chess-piece bishop-black text-hide', data: { pieceid: @pieces[28].id }) %>
        </td>
        <td class="chess-light-square" data-column-index="3">
          <%= content_tag(:div, 'Black King', class: 'chess-piece king-black text-hide', data: { pieceid: @pieces[31].id }) %>
        </td>
        <td class="chess-dark-square" data-column-index="4">
          <%= content_tag(:div, 'Black Queen', class: 'chess-piece queen-black text-hide', data: { pieceid: @pieces[30].id }) %>
        </td>
        <td class="chess-light-square" data-column-index="5">
          <%= content_tag(:div, 'Black Bishop', class: 'chess-piece bishop-black text-hide', data: { pieceid: @pieces[29].id }) %>
        </td>
        <td class="chess-dark-square" data-column-index="6">
          <%= content_tag(:div, 'Black Knight', class: 'chess-piece knight-black text-hide', data: { pieceid: @pieces[27].id }) %>
        </td>
        <td class="chess-light-square" data-column-index="7">
          <%= content_tag(:div, 'Black Rook', class: 'chess-piece rook-black text-hide', data: { pieceid: @pieces[25].id }) %>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="game-bar">
  </div>
</div>
